html {
  font-size: 10px;
}

body {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.3;
  color: #3d1e37;
  background-color: #e63f53;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;

  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "alt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

.tac {
  text-align: center;
}
.ttu {
  text-transform: uppercase;
}

.full-panel,
.header-panel {
  display: flex;
  align-items: center;
}
.full-panel {
  height: 100vh;
}
.header-panel {
  min-height: 50vh;
  border-bottom: 1px dashed;
}

.highlight,
.tag,
a,
a:hover,
a:focus,
a:visited {
  color: #edf2dc;
}

.mega {
  font-size: 8rem;
  margin: 0 0 .5em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -.03em;
  animation: breathe 4000ms infinite forwards;
}

@keyframes breathe {
  60% {
  }
  
  100% {
  }
}

.grande {
  font-size: 4rem;
  font-weight: 600;
}

.heading {
  max-width: 575px;
  margin: 5em auto;
  h3 {
    margin-bottom: 3em;
  }
}

.tag {
  display: inline-block;
  background: rgba(61,30,55,.2);
  border-radius: 3px;
  padding: 0 3px;
  font-size: 0.9em;
  vertical-align: top;
}

.content {
  margin: 100px auto;
  max-width: 800px;
}

.standout {
  font-size: 18px;
}

.work {
  margin-top: 30px;
  li {
    font-weight: 600;
    small {
      font-weight: 400;
    }
  }
}


// THEMES
[class*=theme-moss] {
  color: #fff;
  background: #134E5E; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #134E5E , #71B280); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #134E5E , #71B280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .highlight,
  .tag,
  a,
  a:hover,
  a:focus,
  a:visited {
    color: #bbffee;
  }
}

[class*=theme-shroom] {
  color: #fff;
  background: #5C258D; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #5C258D , #4389A2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #5C258D , #4389A2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .highlight,
  .tag,
  a,
  a:hover,
  a:focus,
  a:visited {
    color: #bbffee;
  }
}
