---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Stephen Saucier - web/mobile application developer in Atlanta">
  <main>
    <header>
      <h1>
        <span class="text-gradient">Stephen Saucier</span> is a top-shelf engineer
        &amp; manager.
      </h1>
      <p class="contact">
        <a
          href="mailto:stephen@saucier.co?Subject=Freelance%20work%20enquiry&Body=Hey%20Stevo%21"
          >→ Make Contact ←</a
        >
      </p>
      <p>
        He's a full-stack web &amp; mobile app developer with over 15 years of
        experience building successful startups &amp; platforms for scores of
        great clients.
      </p>
      <p class="intro">
        Some call him <b>&ldquo;Stevo&rdquo;</b>.
      </p>
      <p>
        <ul>
          <li>
            Veho
            <small
              ><a target="_blank" href="https://www.shipveho.com"
                >Gig delivery platform</a
              > - senior staff engineer</small
            >
          </li>
          <li>
            Big Health
            <small
              ><a target="_blank" href="https://www.mavenbaseball.com/"
                >FDA-approved mobile apps</a
              > - full-stack development</small
            >
          </li>
          <li>
            Second Draft
            <small
              ><a target="_blank" href="https://cardinal40.com/"
                >AI Writing Platform</a
              > - all design & frontend development</small
            >
          </li>
          <li>
            Maven
            <small
              ><a target="_blank" href="https://www.mavenbaseball.com/"
                >Swing/Pitch Analysis & Coaching</a
              > - backend, frontend, mobile</small
            >
          </li>
          <li>
            ClearSpend
            <small
              ><a
                target="_blank"
                href="https://web.archive.org/web/20220627001413/https://www.clearspend.com/"
                >B2B SaaS</a
              >
              - head of UX engineering</small
            >
          </li>
          <li>
            Top Flight Apps
            <small
              ><a target="_blank" href="https://topflightapps.com/"
                >Healthcare apps</a
              > - full-stack development</small
            >
          </li>
          <li>
            Unstationery
            <small
              ><a target="_blank" href="https://www.unstationery.us"
                >Augmented reality postcards</a
              >
              - UX/UI design</small
            >
          </li>
          <li>
            IBM
            <small
              ><a target="_blank" href="https://www.ibm.com">Training portal</a>
              - front-end development</small
            >
          </li>
          <li>
            Street Grace
            <small>
              <a
                target="_blank"
                href="https://bbdo.com/work/5d139ca7f1e61d1a7429748e"
                >Gracie AI bot platform</a
              > - back-end development</small
            >
          </li>
          <li>
            Bakkt
            <small
              ><a target="_blank" href="https://www.bakkt.com"
                >B2C crypto, loyalty, cash, P2P</a
              > - principal FE engineer & manager</small
            >
          </li>
          <li>
            JingleRing
            <small>
              <a target="_blank" href="https://www.jinglering.com/"
                >Virtual Santa Visits</a
              > - full-stack development</small
            >
          </li>
          <li>
            Chick-Fil-A
            <small>
              <a target="_blank" href="https://chick-fil-a.com"
                >Tablet point-of-sale</a
              > - mobile development</small
            >
          </li>
          <li>
            TST
            <small>
              <a target="_blank" href="https://booktst.com">Travel booking</a> -
              lead front-end developer</small
            >
          </li>
          <li>
            Ever Weddings
            <small>
              <a target="_blank" href="https://everweddings.com/"
                >Boutique wedding planning</a
              > - all design &amp; development</small
            >
          </li>
          <li>
            Gather
            <small>
              <a
                target="_blank"
                href="https://web.archive.org/web/20190629220538/http://gatherhere.com/"
                >B<sub>2</sub>B<sub>2</sub>C SaaS</a
              > - lead full-stack engineer</small
            >
          </li>
          <li>
            Beloved Benefit
            <small>
              <a target="_blank" href="https://www.belovedbenefit.org/"
                >Big Atlanta fund-raiser</a
              > - all development</small
            >
          </li>
          <li>
            sixstepsrecords
            <small>
              <a target="_blank" href="http://sixstepsrecords.com"
                >Brand Website</a
              > - all design &amp; development</small
            >
          </li>
          <li>
            Glock
            <small
              ><a target="_blank" href="http://glock-19x.com">Glock 19X</a> - all
              development</small
            >
          </li>
          <li>
            Glock
            <small>
              <a target="_blank" href="http://singlestack9.com"
                >Single Stack 9</a
              > - all development</small
            >
          </li>
          <li>
            Mizuno
            <small>
              <a target="_blank" href="http://mizunousa.com"
                >eCommerce Website</a
              > - development</small
            >
          </li>
        </ul>
      </p>
    </header>
  </main>
</Layout>

<style>
  :root {
    --text-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
    --link-gradient: linear-gradient(-120deg, #642b73, #c6426e);
  }

  h1 {
    margin: 2rem 0;
    line-height: 1.05;
    margin-top: 10vh;
    margin-bottom: 4vh;
  }

  @media (max-width: 767px) {
    h1 {
      margin-top: 3vh;
      margin-bottom: 3vh;
    }
  }

  header {
    margin: auto;
    padding: 1em;
    max-width: 80ch;
  }

  header p {
    line-height: 1.45;
    max-width: 56ch;
  }

  main {
    margin: auto;
    padding: 1em;
    width: 1200px;
    max-width: 90vw;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }

    50% {
      background-position-y: 80%;
    }
  }

  ul {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    font-size: 1.8em;
    padding-left: 0;
  }

  @media (min-width: 768px) {
    ul {
      padding-left: 0em;
    }

    ul > li:before {
      display: inline-block;
      content: "-";
      width: 0.75em;
      margin-left: -1em;
    }
  }

  small {
    margin-left: 0.5em;
    font-size: 0.5em;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 0.2em 0.7em;
    vertical-align: top;
    position: relative;
    top: 0.3em;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    font-weight: 700;
  }

  li small {
    font-weight: normal;
    display: block;
    width: calc(100%);
    margin: 0;
    margin-bottom: 3em;
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 1;
    background: none;
    padding: 0;
    border-radius: 0;
  }

  a {
    color: inherit;
    font-weight: 600;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  @media (min-width: 980px) {
    .contact {
      float: right;
      margin: 0 0 1em;
      padding-left: 2em;
    }
  }
  .intro {
    margin-bottom: 1.5em;
  }

  .contact a {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    display: inline-block;
    padding: 0.5em 0.8em;
    border: 1px dashed;
  }
</style>
