@font-face {
    font-family: 'Styrene';
    src: url('43a56a2fc5c74c02f5a3262f4dc55d66.woff2') format('woff2'),
        url('43a56a2fc5c74c02f5a3262f4dc55d66.woff') format('woff'),
        url('43a56a2fc5c74c02f5a3262f4dc55d66.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene';
    src: url('3226655eca0573eebff11f272d831e2a.woff2') format('woff2'),
        url('3226655eca0573eebff11f272d831e2a.woff') format('woff'),
        url('3226655eca0573eebff11f272d831e2a.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Styrene';
    src: url('3947cfd2c834849d2d26060ef7229024.woff2') format('woff2'),
        url('3947cfd2c834849d2d26060ef7229024.woff') format('woff'),
        url('3947cfd2c834849d2d26060ef7229024.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene';
    src: url('b6aa9f5159e82f6c0fd1088e4c44ea92.woff2') format('woff2'),
        url('b6aa9f5159e82f6c0fd1088e4c44ea92.woff') format('woff'),
        url('b6aa9f5159e82f6c0fd1088e4c44ea92.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Styrene';
    src: url('387b4ef83bc4e828d5583924165f2046.woff2') format('woff2'),
        url('387b4ef83bc4e828d5583924165f2046.woff') format('woff'),
        url('387b4ef83bc4e828d5583924165f2046.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene';
    src: url('40108240761e239ee6d23730836692bf.woff2') format('woff2'),
        url('40108240761e239ee6d23730836692bf.woff') format('woff'),
        url('40108240761e239ee6d23730836692bf.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene';
    src: url('985308ae022ef9e305a46db31cd89190.woff2') format('woff2'),
        url('985308ae022ef9e305a46db31cd89190.woff') format('woff'),
        url('985308ae022ef9e305a46db31cd89190.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Styrene';
    src: url('5bab7cf133083b8d17982dec12162f24.woff2') format('woff2'),
        url('5bab7cf133083b8d17982dec12162f24.woff') format('woff'),
        url('5bab7cf133083b8d17982dec12162f24.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene';
    src: url('63d757a93474b8f9a3ffb833b344354b.woff2') format('woff2'),
        url('63d757a93474b8f9a3ffb833b344354b.woff') format('woff'),
        url('63d757a93474b8f9a3ffb833b344354b.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene';
    src: url('da79cce5aa630108874e0fa549046ebf.woff2') format('woff2'),
        url('da79cce5aa630108874e0fa549046ebf.woff') format('woff'),
        url('da79cce5aa630108874e0fa549046ebf.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Styrene';
    src: url('f0049d5ed835e40a7205c4bfbfe36800.woff2') format('woff2'),
        url('f0049d5ed835e40a7205c4bfbfe36800.woff') format('woff'),
        url('f0049d5ed835e40a7205c4bfbfe36800.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene';
    src: url('e677fcab5e805045485f0c2301c82088.woff2') format('woff2'),
        url('e677fcab5e805045485f0c2301c82088.woff') format('woff'),
        url('e677fcab5e805045485f0c2301c82088.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene';
    src: url('47c53be799eec98a3e6aec6dd7294d99.woff2') format('woff2'),
        url('47c53be799eec98a3e6aec6dd7294d99.woff') format('woff'),
        url('47c53be799eec98a3e6aec6dd7294d99.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Styrene';
    src: url('2fe76c6599f4d285b2a2b0a4a1f11b56.woff2') format('woff2'),
        url('2fe76c6599f4d285b2a2b0a4a1f11b56.woff') format('woff'),
        url('2fe76c6599f4d285b2a2b0a4a1f11b56.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

