
{{#extend "default"}}
    {{#content "main"}}
        <div class="container">
            <div class="header-panel">
                <div class="tac heading">
                    <h1 class="mega tac">Stephen <span class="highlight">Saucier</span></h1>
                    <h2 class="grande">Full-stack <span class="highlight">web/mobile app developer</span>, enabler, &amp; typography enthusiast.</h2>
                    <h3>Building apps in Atlanta / Sydney</h3>
                    <div class="tech">
                        <p>Over 12 years of building successful web &amp; mobile apps for scores of great clients.</p>
                    </div>
                </div>
            </div>

            <div class="content">
                <p class="standout">Currently building driver/consumer mobile apps at <a target="_blank" href="https://www.shipveho.com">Veho</a>.</h3>

                <div class="row work">
                    <div class="col-sm-8">
                        <h4>Selected freelance projects:</h4>
                        <ul>
                            <li>IBM <small>- <a target="_blank" href="#">Training portal</a>: front-end development</small></li>
                            <li>Street Grace <small>- <a target="_blank" href="https://bbdo.com/work/5d139ca7f1e61d1a7429748e">Gracie AI bot platform</a>: back-end development</small></li>
                            <li>Ever Weddings <small>- <a target="_blank" href="https://everweddings.com/">Boutique wedding planning</a>: all design &amp; development</small></li>
                            <li>JingleRing <small>- <a target="_blank" href="https://www.jinglering.com/">Virtual Santa Visits</a>: full-stack development</small></li>
                            <li>Beloved Benefit <small>- <a target="_blank" href="https://belovedbenefit.org">Big Atlanta fund-raiser</a>: all development</small></li>
                            <li>sixstepsrecords <small>- <a target="_blank" href="http://sixstepsrecords.com">Brand Website</a>: all design &amp; development</small></li>
                            <li>Glock <small>- <a target="_blank" href="http://glock-19x.com">Glock 19X</a>: all development</small></li>
                            <li>Glock <small>- <a target="_blank" href="http://singlestack9.com">Single Stack 9</a>: all development</small></li>
                            <li>Mizuno <small>- <a target="_blank" href="http://mizunousa.com">eCommerce Website</a>: development</small></li>
                            <!-- <li>Ever Weddings <small>- <a target="_blank" href="http://everweddings.co">Brand Website</a>: all branding, design &amp; development</small></li> -->
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h4>Other notable recent clients:</h4>
                        <ul>
                            <li>ClearSpend</li>
                            <li>Bakkt</li>
                            <li>Chik-Fil-A</li>
                            <!-- <li>Travel Syndication Technologies</li> -->
                            <li>Gather (start-up acquired)</li>
                            <li>L'Oreal</li>
                            <li>Kroger</li>
                            <li>Publix</li>
                            <li>Marriott</li>
                            <li>Goldfish (snacks)</li>
                            <!-- <li>7UP</li>
                            <li>Axon (ZTE)</li>
                            <li>Nerf</li>
                            <li>Indian Motorcycles</li>
                            <li>Americold</li>
                            <li>Pergo</li>
                            <li>Holland-America Line</li> -->
                        </ul>
                    </div>
                </div>

                <p class="tac"><a href="mailto:stephen@saucier.co?Subject=Freelance%20work%20enquiry&Body=Hey%20Stevo%21">&rarr; Hit me up for freelance projects &larr;</a></p>
            </div>
        </div>


        <ul>
        {{#each pagination.files}}
          <li>
            <h2><a href="/{{{ this.path }}}/" rel="bookmark">{{this.title}}</a></h2>
            {{{this.excerpt}}}
          </li>
        {{/each}}
        </ul>

        {{#if pagination}}
          <nav class="pagination">
            {{#if pagination.next}}
              <a href="/{{removeIndex pagination.next.path}}" class="btn">&lt; Prev</a>
            {{/if}}

            {{#if pagination.previous}}
              <a href="/{{removeIndex pagination.previous.path}}" class="btn">Next &gt;</a>
            {{/if}}
          </nav>
        {{/if}}

    {{/content}}
{{/extend}}
