{{#extend "default"}}
    {{#content "main"}}
        <div class="container">
            <div class="full-panel">
                <div class="tac heading">
                    <h1 class="mega tac">Stephen <span class="highlight">Saucier</span></h1>
                    <h2 class="grande">Full-stack JS <span class="highlight">web developer</span>, <em>entrepreneur</em>, and UI designer.</h2>
                    <h3>Creating websites &amp; applications in Atlanta / Sydney</h3>
                    <div class="tech">
                        <p>Experienced with
                            <span class="tag">AngularJS</span>,
                            <span class="tag">React.js</span>,
                            <span class="tag">Node.js</span>,
                            <span class="tag">RethinkDB</span>,
                            <span class="tag">ElasticSearch</span>,
                            <span class="tag">PHP</span>,
                            <span class="tag">MySQL</span>,
                            <span class="tag">CSS preprocessors</span>,
                            <span class="tag">design tools</span>,
                            and much more.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    {{/content}}
{{/extend}}
